$background-1:  #1a1d26;
$background-2:  #26282e;
$background-3: #303442;
$text: #ffffff;
$primary: #4432f0;
$secondary: #ec56b3;
$tertiary: #fd9f4b;
$button: #50566B;
$input-dark: rgba(255, 230, 46, 0.31);
$input-light: #FFE62E;
$placeholder: rgba(255, 255, 255, 0.33);